@import "~bootstrap";

.hide {
  display: none;
}

tr {
  display: flex;
  flex-wrap: wrap;
}

#checkCowellsBody {
	padding: 1rem;
}

button {
  border: 0;
}

tr td:nth-child(1) {
    width: 2rem;
}

img {
	max-width: 100%;
}

.tall-presence-point,
.tide-point {
	font-size: x-small;
}